<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <cup.Properties.Settings>
            <setting name="ScreenshotHotKey" serializeAs="String">
                <value>AC:Return</value>
            </setting>
            <setting name="Action" serializeAs="String">
                <value>Clipboard</value>
            </setting>
            <setting name="ScreenshotFormat" serializeAs="String">
                <value>Png</value>
            </setting>
            <setting name="SaveLocally" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LegacyNotifications" serializeAs="String">
                <value>False</value>
            </setting>
        </cup.Properties.Settings>
    </userSettings>
</configuration>
